#Directories
bin/
bin-int/
Granola/vendor
Granola/vendor/Glad
Granola/vendor/imgui
vendor

#Files
*.user

# Visual Studio clutter
_ReSharper*
*.sdf
*.suo
*.dir
*.vcxproj*
*.sln
.vs
CMakeSettings.json
Win32
x64
Debug
Release
MinSizeRel
RelWithDebInfo
*.opensdf